:root{
    --text-color: rgb(80,164,261)
}

html{
    background-color: var(--text-color);
}



h1{
    font-family: 'Anton';
}



.header {
    display: flex;
    justify-content: space-between;

}


#image {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    size: 30px; 

}
#quiz {

    display: flex;

    justify-content: center;

}
.wrong {
    background-color: red;
}
.correct {
    background-color: green;
}