h1, h2 {
    display: flex;
    justify-content: center; 
    margin: 0 auto; 
}

#yay {
    display: flex;
    justify-content: center; 
    margin: 0 auto; 
    
}

#play_again {
    display: flex;
    justify-content: center; 
    margin: 0 auto; 
}